/* This is the CSS coding for Na Yang's Profile */

body{
		background-color:#6fdfd6;
		font-family:Verdana, Arial, sans-serif;
		color:#666666;
		}
*{
	box-sizing:border-box;

	}


h1{
		background-color:#6fdfd6;       			 /* hex code for a shade of blue */
		color:#000000;
		font-family: Times Roman, serif;
		font-weight:100%;
		text-align:left;
		line-height:500%;
		background-image:url(images/bluemountain3.jpg);
		background-position:right;
		background-repeat:no-repeat;
		margin-bottom:0;


		}
		

h2{
		background-color:#000000;       			 
		color:#FFFFFF;
		font-family: Times Roman, serif;
		line-height:200%;
		margin-top:0;


		
		}

h3{
		background-color:#000000;       			 /* hex code for a shade of brown */
		color:#FFFFFF;
		font-family: Times Roman, serif;
		line-height:100%;
		margin-left:0;
		
		}
		
h4{
		color:#000000;
		}
		

nav{
		background-color:#487a8c;
		font-weight:bold;
		padding:20px 5px 0 20px;
		float:left;
		width:100%;
		}
		
		
nav a{
		text-decoration:none;
		
		}
	
	
nav ul{

		list-style-type:none;
		margin:auto;
		padding-left:0;
		padding-bottom:10px;
		padding-right:50px;
		height:100%;

		
		}
		
nav a:link{
			color:#213942;
			}
nav a:visited{
			color:#344873;
			}
nav a:hover{
			color:#ffffff;
			}
nav a:active{
			color:#000000;
			}
			
			
.resort
	{
		font-size:1.2em;
		color:#000033;
		}
			
			

			
main{
		text-align:center;
		margin:0 auto;
		box-shadow: 18px 16px 19px -13px rgba(224,211,237,1);
		background-color:#ffffff;
		
		}
			
p{
	color:#000000;
	}

li{
	color:#000000;
	}



.images{
		width:50%;
		margin:auto;
		padding:auto;
		}
		
		
		
iframe:focus { 
  		outline: none;
		}

iframe[seamless] { 
	  display: block;
		}



footer
	{
		font-size:.7em;
		font-style:italic;
		text-align:center;
		padding:5px;
		margin:auto;
		background-color:gray;
		color:white;
		
	}
	
	

ul {
list-style-type: none;
}


	
	
label{
		color:#000000;
		float:left;
		width:8em;
		padding-right:1em;
		
		}
		
input,
textarea{
		
		margin-bottom:1em;
		display:block;
		
		}
		
id,
mySubmit{
			display:block;
			margin:10em;
			background-color:lightgray;
			
			}


/* this is for tablet view */ 
@media only screen and (max-width: 1024px){
	 body{
			margin:0;
			padding:0;
			background-image:none;
			}


	h1{		background-image:none;
			margin:0;
			}

	nav{
			float:none;
			width:auto;
			padding:0.5em;
			}

	nav li{
			display:inline;
			}
	nav a{
			padding:1em;
			}

	main{
			margin-left:0;
			padding:1em;
			font-size:90%;
			max-width:15000;
			
			}
	footer{
			margin:0;
			}

}

/* this is for mobile device view */ 
@media only screen and (max-width: 768px){

	nav{
		padding:0;
			}
	nav ul{
		margin:0;
		padding:0;
			}
	nav li{
		display:block;
		margin:0;
		padding:0;
			}

	nav a{
		display:block;
		border-bottom: 1px solid;
		padding:0.2em
		font-size:1.3em;

			}
	h1{
		font-size:1.5em;
		padding-left:0.3em;
		height:100%;
			}
	main{
		padding:auto;
		max-width:auto;
			}

	footer{
		padding:0;
			}


}




